@media (min-width: 600px) {
  div {
    border: 1px solid black;
  }
}
@media (min-width: 801px) {
  div {
    border: 1px solid black;
  }
}
@media (min-width: 1025px) {
  div {
    border: 1px solid red;
  }
}
@media (min-width: 1281px) {
  div {
    border: 1px solid green;
  }
}
